<!DOCTYPE html>

{% extends "basic_app/base.html"%}
  {% block body_block%}
    <h1>Inventarios Corrupac</h1>
    <h3>Proyección Consumos</h2>


    <table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Mes</th>
      <th scope="col">KH171</th>
      <th scope="col">KH254</th>
      <th scope="col">KH110</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Jul</td>
      <td>131</td>
      <td>318</td>
      <td>79</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Ago</td>
      <td>201</td>
      <td>245</td>
      <td>121</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Sep</td>
      <td>207</td>
      <td>293</td>
      <td>113</td>
    </tr>
  </tbody>
</table>


    <h3>Proyección Inventarios</h2>


    <table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Mes</th>
      <th scope="col">KH171</th>
      <th scope="col">KH254</th>
      <th scope="col">KH110</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Jul</td>
      <td>14</td>
      <td>858</td>
      <td>51</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Ago</td>
      <td>232</td>
      <td>693</td>
      <td>-70</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Sep</td>
      <td>300</td>
      <td>799</td>
      <td>37</td>
    </tr>
  </tbody>
</table>




  {% endblock %}
